In [1]:
import pandas as pd

df = pd.read_csv('/home/moriarty/Desktop/bioinfproject/github/covid-mirna/vmir-pre-mirnas-with-seqs.tsv', sep = '\t')
df

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence
0,121,MD1,Direct,407,445,72,137.3,0,0,3,3,NaN,NaN,GATGGCACTTGTGGCTTAGTAGAAGTTGAAAAAGGCGTTTTGCCTC...
1,85,MD2,Direct,443,490,97,150.6,0,0,1,1,NaN,NaN,GTTTTGCCTCAACTTGAACAGCCCTATGTGTTCATCAAACGTTCGG...
2,194,MD3,Direct,596,640,87,120.6,0,0,1,1,NaN,NaN,GTGGGCGAAATACCAGTGGCTTACCGCAAGGTTCTTCTTCGTAAGA...
3,114,MD4,Direct,651,692,75,140.3,0,0,3,3,NaN,NaN,AAGGAGCTGGTGGCCATAGTTACGGCGCCGATCTAAAGTCATTTGA...
4,95,MD5,Direct,1083,1124,86,147.3,0,0,1,1,NaN,NaN,TTGTATTTCCCTTAAATTCCATAATCAAGACTATTCAACCAAGGGT...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,203,MR78,Reverse,27942,27986,89,119.5,0,0,2,2,NaN,NaN,TACCATTTAGAATAGAAGTGAATAGGACACGGGTCATCAACTACAT...
218,120,MR79,Reverse,28216,28252,81,137.4,0,0,1,1,NaN,NaN,TTTTGGGGTCCATTATCAGACATTTTAGTTTGTTCGTTTAGATGAA...
219,73,MR80,Reverse,28421,28460,80,155.1,0,0,1,1,NaN,NaN,GTGTTAATTGGAACGCCTTGTCCTCGAGGGAATTTAAGGTCTTCCT...
220,101,MR81,Reverse,28925,28966,83,145.5,0,0,1,1,NaN,NaN,GTTTGGCCTTGTTGTTGTTGGCCTTTACCAGACATTTTGCTCTCAA...
221,23,MR82,Reverse,29532,29582,94,184.6,1,0,1,2,NaN,NaN,GAATTCATTCTGCACAAGAGTAGACTATATATCGTAAACGGAAAAG...

In [2]:
import RNA

In [4]:
seq = "GAGUAGUGGAACCAGGCUAUGUUUGUGACUCGCAGACUAACA"
 
# compute minimum free energy (MFE) and corresponding structure
(ss, mfe) = RNA.fold(seq)
mfe

-8.800000190734863

In [23]:
structure_mfe= df['Sequence'].apply(RNA.fold)
mfes = [el[1] for el in structure_mfe]
df['mfe'] = mfes
df.head()

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe
0,121,MD1,Direct,407,445,72,137.3,0,0,3,3,NaN,NaN,GATGGCACTTGTGGCTTAGTAGAAGTTGAAAAAGGCGTTTTGCCTC...,-24.600000
1,85,MD2,Direct,443,490,97,150.6,0,0,1,1,NaN,NaN,GTTTTGCCTCAACTTGAACAGCCCTATGTGTTCATCAAACGTTCGG...,-26.900000
2,194,MD3,Direct,596,640,87,120.6,0,0,1,1,NaN,NaN,GTGGGCGAAATACCAGTGGCTTACCGCAAGGTTCTTCTTCGTAAGA...,-25.900000
3,114,MD4,Direct,651,692,75,140.3,0,0,3,3,NaN,NaN,AAGGAGCTGGTGGCCATAGTTACGGCGCCGATCTAAAGTCATTTGA...,-26.299999
4,95,MD5,Direct,1083,1124,86,147.3,0,0,1,1,NaN,NaN,TTGTATTTCCCTTAAATTCCATAATCAAGACTATTCAACCAAGGGT...,-17.100000

In [28]:
def mfei_calculation(precursor, mfe):
    g_and_c = (precursor.count('G')+precursor.count('C'))/len(precursor)
    return mfe/len(precursor)/g_and_c
df['mfeis'] = df.apply(lambda x: mfei_calculation(x.Sequence,x.mfe), axis=1)
df.head()

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe,mfeis
0,121,MD1,Direct,407,445,72,137.3,0,0,3,3,NaN,NaN,GATGGCACTTGTGGCTTAGTAGAAGTTGAAAAAGGCGTTTTGCCTC...,-24.600000,-0.768750
1,85,MD2,Direct,443,490,97,150.6,0,0,1,1,NaN,NaN,GTTTTGCCTCAACTTGAACAGCCCTATGTGTTCATCAAACGTTCGG...,-26.900000,-0.584783
2,194,MD3,Direct,596,640,87,120.6,0,0,1,1,NaN,NaN,GTGGGCGAAATACCAGTGGCTTACCGCAAGGTTCTTCTTCGTAAGA...,-25.900000,-0.575556
3,114,MD4,Direct,651,692,75,140.3,0,0,3,3,NaN,NaN,AAGGAGCTGGTGGCCATAGTTACGGCGCCGATCTAAAGTCATTTGA...,-26.299999,-0.674359
4,95,MD5,Direct,1083,1124,86,147.3,0,0,1,1,NaN,NaN,TTGTATTTCCCTTAAATTCCATAATCAAGACTATTCAACCAAGGGT...,-17.100000,-0.589655

In [30]:
filtered = df[df['mfeis']<-0.85]
filtered

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe,mfeis
11,26,MD12,Direct,2310,2348,75,182.5,0,0,1,1,NaN,NaN,TAAATAAATTTTTGGCTTTGTGTGCTGACTCTATCATTATTGGTGG...,-24.900000,-0.996000
12,18,MD13,Direct,2826,2864,79,189.7,0,0,1,1,NaN,NaN,ATGAGAAGTGCTCTGCCTATACAGTTGAACTCGGTACAGAAGTAAA...,-31.900000,-0.886111
55,12,MD56,Direct,9814,9858,91,194.4,1,0,1,3,NaN,NaN,TTTGTTAAATAAAGAAATGTATCTAAAGTTGCGTAGTGATGTGCTA...,-23.600000,-0.944000
64,17,MD65,Direct,11241,11286,89,190.7,0,0,2,2,NaN,NaN,GGGTGATGCGTATTATGACATGGTTGGATATGGTTGATACTAGTTT...,-35.299999,-1.038235
100,3,MD101,Direct,19413,19460,91,218.4,1,0,1,2,NaN,NaN,AGTAGTGTCAGATATAGATTATGTACCACTAAAGTCTGCTACGTGT...,-35.299999,-0.980556
104,86,MD105,Direct,20264,20309,91,149.2,2,0,1,3,NaN,NaN,AATTAGCTATGGATGAATTCATTGAACGGTATAAATTAGAAGGCTA...,-28.000000,-0.933333
145,79,MR6,Reverse,1603,1652,89,152.7,0,0,1,1,NaN,NaN,TAATGGCGATCTCTTCATTAAGTTTAAAGTCACCAACAATATTGAT...,-24.700001,-0.882143
173,16,MR34,Reverse,14989,15028,82,191.4,1,0,2,3,NaN,NaN,GATTCATTTGAGTTATAGTAGGGATGACATTACGTTTTGTATATGC...,-24.100000,-0.860714
179,192,MR40,Reverse,16450,16482,75,121.0,0,0,1,1,NaN,NaN,TGTATTTTTATATAAACCAAAAACTTGTCCATTAGCACACAATGGA...,-19.000000,-0.863636
209,34,MR70,Reverse,26059,26096,80,174.1,1,0,2,3,NaN,NaN,ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT...,-25.000000,-0.892857

In [43]:

listik = filtered.Sequence.tolist()
for seq in range(len(listik)):
    listik[seq] = listik[seq].replace('T', 'U')

In [44]:
for line in range(len(listik)):
    print('>test', line)
    print(listik[line])

>test 0
UAAAUAAAUUUUUGGCUUUGUGUGCUGACUCUAUCAUUAUUGGUGGAGCUAAACUUAAAGCCUUGAAUUUAGGUG
>test 1
AUGAGAAGUGCUCUGCCUAUACAGUUGAACUCGGUACAGAAGUAAAUGAGUUCGCCUGUGUUGUGGCAGAUGCUGUCAU
>test 2
UUUGUUAAAUAAAGAAAUGUAUCUAAAGUUGCGUAGUGAUGUGCUAUUACCUCUUACGCAAUAUAAUAGAUACUUAGCUCUUUAUAAUAAG
>test 3
GGGUGAUGCGUAUUAUGACAUGGUUGGAUAUGGUUGAUACUAGUUUGUCUGGUUUUAAGCUAAAAGACUGUGUUAUGUAUGCAUCAGCU
>test 4
AGUAGUGUCAGAUAUAGAUUAUGUACCACUAAAGUCUGCUACGUGUAUAACACGUUGCAAUUUAGGUGGUGCUGUCUGUAGACAUCAUGCU
>test 5
AAUUAGCUAUGGAUGAAUUCAUUGAACGGUAUAAAUUAGAAGGCUAUGCCUUCGAACAUAUCGUUUAUGGAGAUUUUAGUCAUAGUCAGUU
>test 6
UAAUGGCGAUCUCUUCAUUAAGUUUAAAGUCACCAACAAUAUUGAUGUUGACUUUCUCUUUUUGGAGUAUUUCAAGAAGGUUGUCAUUA
>test 7
GAUUCAUUUGAGUUAUAGUAGGGAUGACAUUACGUUUUGUAUAUGCGAAAAGUGCAUCUUGAUCCUCAUAACUCAUUGAAUC
>test 8
UGUAUUUUUAUAUAAACCAAAAACUUGUCCAUUAGCACACAAUGGAAAACUAAUGGGUGGUUUAUGUGAUUUACA
>test 9
AUUGUGUGAAUUUGGACAUGUUCUUCAGGCUCAUCAACAAUUUUAUUGUAGAUGAAGAAGGUAACAUGUUCAACACCAGU

In [46]:
classes = ['Real','Real','Real','Real','Real','Pseudo','Pseudo','Real','Real','Real']
filtered['class'] = classes
filtered

<ipython-input-46-2049bbe97aef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['class'] = classes

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe,mfeis,class
11,26,MD12,Direct,2310,2348,75,182.5,0,0,1,1,NaN,NaN,TAAATAAATTTTTGGCTTTGTGTGCTGACTCTATCATTATTGGTGG...,-24.900000,-0.996000,Real
12,18,MD13,Direct,2826,2864,79,189.7,0,0,1,1,NaN,NaN,ATGAGAAGTGCTCTGCCTATACAGTTGAACTCGGTACAGAAGTAAA...,-31.900000,-0.886111,Real
55,12,MD56,Direct,9814,9858,91,194.4,1,0,1,3,NaN,NaN,TTTGTTAAATAAAGAAATGTATCTAAAGTTGCGTAGTGATGTGCTA...,-23.600000,-0.944000,Real
64,17,MD65,Direct,11241,11286,89,190.7,0,0,2,2,NaN,NaN,GGGTGATGCGTATTATGACATGGTTGGATATGGTTGATACTAGTTT...,-35.299999,-1.038235,Real
100,3,MD101,Direct,19413,19460,91,218.4,1,0,1,2,NaN,NaN,AGTAGTGTCAGATATAGATTATGTACCACTAAAGTCTGCTACGTGT...,-35.299999,-0.980556,Real
104,86,MD105,Direct,20264,20309,91,149.2,2,0,1,3,NaN,NaN,AATTAGCTATGGATGAATTCATTGAACGGTATAAATTAGAAGGCTA...,-28.000000,-0.933333,Pseudo
145,79,MR6,Reverse,1603,1652,89,152.7,0,0,1,1,NaN,NaN,TAATGGCGATCTCTTCATTAAGTTTAAAGTCACCAACAATATTGAT...,-24.700001,-0.882143,Pseudo
173,16,MR34,Reverse,14989,15028,82,191.4,1,0,2,3,NaN,NaN,GATTCATTTGAGTTATAGTAGGGATGACATTACGTTTTGTATATGC...,-24.100000,-0.860714,Real
179,192,MR40,Reverse,16450,16482,75,121.0,0,0,1,1,NaN,NaN,TGTATTTTTATATAAACCAAAAACTTGTCCATTAGCACACAATGGA...,-19.000000,-0.863636,Real
209,34,MR70,Reverse,26059,26096,80,174.1,1,0,2,3,NaN,NaN,ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT...,-25.000000,-0.892857,Real